<section class="framework-info">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="{{#if longTitle}}full-width-md{{/if}} hidden-xs">
          {{{ title }}} <img src="{{ site.baseurl }}/frameworks/{{ framework }}/{{ framework }}.png"/>
        </h1>
        <h3 class="{{#if longTitle}}hidden-md hidden-sm{{/if}} hidden-xs">Related links</h3>        
      </div>
      <div class="col-xs-12 col-sm-6">
        {{{ body }}}
      </div>
      <div class="col-xs-12 col-sm-6">
        {{>links }}
      </div>
    </div>
  </div>
</section>