<div class="screenshot {{ platform }}">
  <a href="{{ site.baseurl }}/frameworks/{{ framework }}/{{ platform }}/{{ screenshotName }}.png">
    <img src="{{ site.baseurl }}/frameworks/{{ framework }}/{{ platform }}/{{ screenshotName }}.thumbnail.png"/>
  </a>
</div>