<div id="frameworks" class="row">
  <div id="frameworks-row-1">
    <div id="html5-frameworks" class="col-sm-6">
      <div class="col-sm-12">
        <h2>HTML5</h2>
      </div>
      {{#each pages}}
        {{#if html5}}
        <div class="col-sm-6 framework">
          <a href="{{ page.destination }}">
            <img src="{{ site.baseurl }}/frameworks/{{ framework }}/{{ framework }}.png"/>{{ title }}
          </a>
         </div>
        {{/if}}
      {{/each}}
    </div>
    <div id="compile-to-native-frameworks" class="col-sm-6">
      <div class="col-sm-12">
        <h2>COMPILE TO NATIVE</h2>
      </div>
      {{#each pages}}
        {{#if compile_to_native}}
        <div class="col-sm-6 framework">
          <a href="{{ page.destination }}">
            <img src="{{ site.baseurl }}/frameworks/{{ framework }}/{{ framework }}.png"/>{{ title }}
          </a>
         </div>
        {{/if}}
      {{/each}}
    </div>
  </div>

  <div id="frameworks-row-2">
    <div id="native-frameworks" class="col-sm-12">
      <div class="col-sm-2">
        <h2>NATIVE</h2>
      </div>
      {{#each pages}}
        {{#if native}}
          <div class="col-sm-5 framework">
            <a href="{{ page.destination }}">
              <img src="{{ site.baseurl }}/assets/android.png"/> Android (Java) 
            </a>
          </div>
          <div class="col-sm-5 framework">
            <a href="{{ page.destination }}">
              <img src="{{ site.baseurl }}/assets/ios.png"/> iOS (Objective-C)
            </a>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
