<section class="framework-menu">
  <div class="row">
    <div class="col-sm-6 col-xs-12 html5-frameworks">
      <h2>HTML5</h2>
      {{#each pages}}
        {{#if html5}}
        <div class="framework">
          <a href="{{ page.destination }}">
            <img src="{{ site.baseurl }}/frameworks/{{ framework }}/{{ framework }}.png"/>{{ title }}
          </a>
         </div>
        {{/if}}
      {{/each}}
    </div>
    <div class="col-sm-6 col-xs-12 compile-to-native-frameworks">
      <h2>COMPILE TO NATIVE</h2>
      {{#each pages}}
        {{#if compile_to_native}}
        <div class="framework">
          <a href="{{ page.destination }}">
            <img src="{{ site.baseurl }}/frameworks/{{ framework }}/{{ framework }}.png"/>{{ title }}
          </a>
         </div>
        {{/if}}
      {{/each}}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 native-frameworks">
      <h2>NATIVE</h2>
      {{#each pages}}
        {{#if native}}
          <div class="framework">
            <a href="{{ page.destination }}">
              <img src="{{ site.baseurl }}/assets/android.png"/> Android (Java)
            </a>
          </div>
          <div class="framework">
            <a href="{{ page.destination }}">
              <img src="{{ site.baseurl }}/assets/ios.png"/> iOS (Objective-C)
            </a>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
