<section class="row framework-info">
  <div class="col-xs-12">
    <h1>
      {{ title }} <img src="{{ site.baseurl }}/frameworks/{{ framework }}/{{ framework }}.png"/>
    </h1>
  </div>
  <div class="col-xs-12 col-sm-6">
    {{{ body }}}
  </div>
  <div class="col-xs-12 col-sm-6">
    {{>links }}
  </div>
</section>