<section class="framework-menu">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="html5-frameworks">
          <h2>HTML5</h2>
          {{#each pages}}
            {{#if html5}}
              <div class="framework">
                <a href="{{ ../site.baseurl }}{{ page.destination }}" draggable="false">
                  <span class="icon-wrapper">
                    <img {{#if wideIcon }} class="wide-icon" {{/if}} src="{{ ../site.baseurl }}/frameworks/{{ framework }}/{{ framework }}.png" draggable="false"/>
                  </span>{{{ title }}}
                  <span class="language">[{{ language }}]</span>
                </a>
              </div>
              {{#if clearfix}}
                <div class="clearfix"></div>
              {{/if}}
            {{/if}}
          {{/each}}
        </div>
        <div class="compile-to-native-frameworks">
          <h2>COMPILE TO NATIVE</h2>
          {{#each pages}}
            {{#if compile_to_native}}
              <div class="framework">
                <a href="{{ ../site.baseurl }}{{ page.destination }}" draggable="false">
                  <span class="icon-wrapper">
                    <img {{#if wideIcon }} class="wide-icon" {{/if}} src="{{ ../site.baseurl }}/frameworks/{{ framework }}/{{ framework }}.png" draggable="false"/>
                  </span>{{{ title}}}
                  <span class="language">[{{ language }}]</span>
                </a>
              </div>
              {{#if clearfix}}
                <div class="clearfix"></div>
              {{/if}}
            {{/if}}
          {{/each}}
        </div>
      </div>
      <div class="col-xs-12 native-frameworks">
        <h2>NATIVE</h2>
        {{#each pages}}
          {{#if native}}
            <div class="framework">
              <a href="{{ ../site.baseurl }}{{ page.destination }}" draggable="false">
                <img {{#if wideIcon }} class="wide-icon" {{/if}} src="{{ ../site.baseurl }}/assets/android.png" draggable="false"/><img src="{{ ../site.baseurl }}/assets/ios.png" draggable="false"/> <span> Android and iOS </span><span class="language hidden-xs"> [Java and Objective-C]</span>
              </a>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</section>
