<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>PropertyCross{{#if title }} | {{title }}{{/if}}</title>
  <meta name="description" content="Helping you select a cross-platform mobile framework - Apps using jQuery Mobile, Sencha Touch, Titanium and more">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
  <!--[if lt IE 9]>
  <script src="/scripts/html5shiv.js"></script>
  <![endif]-->
  <script type="text/javascript" src="{{ site.baseurl }}/scripts/ga.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/scripts/typekit.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/main.css" type="text/css">
  <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
</head>
<body>
  {{{body}}}
</body>
</html>
