<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>PropertyCross{{#if title }} | {{title }}{{/if}}</title>
  <meta name="description" content="Helping you select a cross-platform mobile framework - Apps using jQuery Mobile, Sencha Touch, Titanium and more">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
  <!--[if lt IE 9]>
  <script src="/scripts/html5shiv.js"></script>
  <![endif]-->
  <script type="text/javascript" src="{{ site.baseurl }}/scripts/ga.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/scripts/carousel.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/scripts/typekit.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/main.css" type="text/css">
  <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
  <script type="text/javascript">
    $(document).ready(function() {
      // Show/hide appropriate download button when navigating the carousel on > XS devices
      $('.carousel-indicators li, .carousel-control').click(function() {
        if(!$(this).hasClass('active')) {
          $('.download-btn').toggleClass('hide');
        }
      });
      
      // Show/hide appropriate frameworks tab on XS devices
      $('.framework-tab-headers span').click(function() {
        var target = $(this).attr('data-target');
      
        $('.framework-tab').each(function() {
          // Hide the currently shown tab
          if(!$(this).hasClass('hidden')) {
            $(this).toggleClass('hidden');
          }
          
          // Show the clicked tab
          if($(this).hasClass(target)) {
            $(this).removeClass('hidden');
          }
        });
      });
    });
  </script>
</head>
<body>
  <div {{#if html5}} class="html5" {{/if}} {{#if compile_to_native}} class="compile-to-native" {{/if}} {{#if native}} class="native" {{/if}}>
    {{{body}}}
  </div>
</body>
</html>
